body {
    margin: 0;
    background-color: teal;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 200px;
}

.container {
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 50%;
    animation: rotate 4s linear infinite;
    box-shadow: whitesmoke 5px 5px 80px;

}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    /* animation-name: circles;
    animation-duration: 1.5s;
    animation-iteration-count: 5; */

}

@keyframes rotate {

    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }

}

@keyframes circles {

    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(200px, 0);
    }

    50% {
        transform: translate(200px, 200px);
    }

    75% {
        transform: translate(0, 200px);
    }

}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 2px;
    animation: up-down 0.8s ease infinite alternate;
}

.dot:nth-child(2) {
    animation-delay: 0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.2s;
}

.dot:nth-child(4) {
    animation-delay: 0.3s;
}


@keyframes up-down {

    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}