* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 500px;
    border: 2px solid red;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.links {
    display: flex;
    gap: 10px;
}

#box-2 {
    align-self: center;
}

div {
    padding: 20px;
    max-width: 1180px;
    border: 1px solid green;
    margin: auto;
}